body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(interior.JPG);
    background-size: cover;
    background-position: center;				
}

.navbar h1{
    color: #fff;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li:after{
    content: '';
    height: 3px;
    width: 0;
    background: #FFD700;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

.banner-content{
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.banner-content h1{
    font-size: 50px;
    margin-top:80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.2px;
}

.banner-content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.banner-content button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #FFD700;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.banner-content span{
    background: #FFD700;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.banner-content button:hover span{
    width: 100%;
}

.banner-content button:hover{
    border: none;
}

.beginning-imgs{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.beginning-imgs img:hover{
    box-shadow: 1px 3px 7px rgba(0,0,0,0.75);
    transition: 0.2s ease-in-out;
}

.beginning-imgs .img1{
    width: 400px;
    height: 70vh;
    margin-right: 10px;
}

.colour-shades{
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}

.colour-shades .Cs-content h2{
    letter-spacing: 1.3px;
}

.colour-shades .Cs-content p{
    color:#656765;
}

.colour-shades .Cs-content button{
    border: none;
    letter-spacing: 1.5px;
    background: none;
    margin-top: 20px;
    color:#656765;
}

.colour-shades .Cs-content button:hover{
    border: 1px solid #DACDBC;
    color:#DACDBC;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    text-align: center;
}

.colour-shades .Cs-img img{
    width: 300px;
}

.few-words{
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    margin-top: 200px;
}

.few-words p{
    font-size: 12px;
    color: #656765;
}

.few-words li{
    list-style: outside;
    font-size: 15px;
    color: #656765;
}

.furniture-slider{
    margin-top: 160px;
}

.carousel-inner img{
    height: 70vh;
}

.tailored-interior{
    width: 70%;
    margin: 0 auto;
    margin-top: 130px;
}

.tailored-interior h3{
    text-align: center;
}

.tailored-interior img{
    margin-bottom: 10px;
}

.tailored-interior .ti-img{
    margin-top: 60px;
}

.ti-img span{
    float: right;
    color:#656765;
}

.ti-img2 span{
    float: right;
    color:#656765;
}

.tailored-interior img:hover{
    box-shadow: 1px 3px 7px rgba(0,0,0,0.75);
    transition: 0.2s ease-in-out;
}

.customer-review{
    width: 70%;
    height: 40vh;
    margin: 0 auto;
    margin-top: 100px;
    background: #FEFAFA;
}

.customer-review .customer-rcontent{
    padding: 80px 110px;
}

.customer-review .customer-rcontent p{
    margin-top: 20px;
    margin-bottom: 35px;
    color: #656765;
} 

.customer-review .customer-rcontent span{
    letter-spacing: 1.3px;
} 

.ending-details{
    height: 50vh;
    margin-top: 100px;
    background: #1A1A1A;
}

.ending-detailsContent{
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    padding: 70px;
}

.ending-detailsContent p{
    color: #656765;
}

.ending-detailsContent h4{
    color: #fff;
}

.ending-detailsContent input{
    border: none;
    border-bottom: 1px solid #656765;
    padding-bottom: 6px;
    background: transparent;
}

.ending-detailsContent .submit-button{
    margin-top: 10px;
    border: none;
    border: 1px solid #DACDBC;
    width: 200px;
    height: 50px;
    background: transparent;
    color: #DACDBC;
}

.ending-detailsContent .submit-button:hover{
    border: none;
    background: #DACDBC;
    color:#fff;
    transition: 0.3s ease-in-out;
  }

.accordion{
    width: 100%;
   }

.accordion-item{
    background: none !important;
    border: none !important;
    color: #656765 !important;
}

.accordion-button{
    background: none !important;
    border: none !important;
    color: #656765 !important;
}

.accordion-button:focus{
    color: #fff !important;
}

/* desktop screens resolution 1366 x 768 */
@media screen and (width: 1366px) and (height: 768px) {
    .beginning-imgs{
        width: 77%;
    }

    .beginning-imgs img{
        width: 328px !important;
    }

    .beginning-imgs .img1{
        height: 75vh;
    }

    .beginning-imgs .img3{
        width: 348px !important; 
    }

    .beginning-imgs .img4{
        bottom: 185px !important;
        left: 33.5% !important;
        width: 66% !important; 
    }

    .colour-shades{
        width: 77%;
        gap: 30px;
    }

    .few-words{
        width: 77%;
        gap:40px;
    }

    .tailored-interior{
        width: 77%;
    }

    .tailored-interior img{
        width: 245px;
    }

    .ending-details{
        height: 53vh;
    }

    .ending-detailsContent{
        width: 95%;
        gap: 80px;
    }
}

/* desktop large screens  1280px x 1024px */
@media screen and (width: 1280px) and (height: 1024px) {
    .beginning-imgs{
        width: 79%;
    }

    .beginning-imgs img{
        width: 314px !important;
    }

    .beginning-imgs .img2{
        bottom: 100px !important;
    }

    .beginning-imgs .img3{
        bottom: 100px !important;
        width:334px !important;
    }

    .beginning-imgs .img4{
        bottom: 260px !important;
        left: 33.5% !important;
        width: 66% !important; 
    }

    .colour-shades{
        width: 79%;
    }

    .colour-shades .Cs-img img{
        width: 250px;
    }

    .few-words{
        width: 79%;
        gap:30px;
    }

    .tailored-interior{
        width: 79%;
    }

    .tailored-interior img{
        width: 238px;
    }

    .ending-details{
        height: 43vh;
    }

    .ending-detailsContent{
        width: 95%;
        gap: 80px;
    }
}

/* desktop screens resolution 1920 x 1080 */
@media screen and (width: 1920px) and (height: 1080px) {
    .navbar li{
        font-size: 25px;
    }

    .banner-content h1{
        font-size: 70px;
    }

    .banner-content p{
        font-size: 22px;
    }

    .banner-content button{
        width: 250px;
    }

    .beginning-imgs{
        width: 82%;
    }

    .beginning-imgs img{
        width: 500px !important;
    }

    .beginning-imgs .img1{
        height: 90vh;
    }

    .beginning-imgs .img2{
        bottom: 180px !important;
    }

    .beginning-imgs .img3{
        bottom: 180px !important;
        width: 520px !important;
    }

    .beginning-imgs .img4{
        bottom: 360px !important;
        left: 33.5% !important;
        width: 66% !important; 
        height: 26vh !important;
    }

    .colour-shades{
        width: 80%;
    }

    .colour-shades .Cs-content h3{
        font-size: 45px;
    }

    .colour-shades .Cs-content h2{
        font-size: 45px;
        letter-spacing: 4.4px !important;
    }

    .colour-shades .Cs-content p{
        font-size: 24px;
    }

    .colour-shades .Cs-content button{
        font-size: 24px;
    }

    .colour-shades .Cs-content button:hover{
        height: 60px;
    }

    .colour-shades .Cs-img img{
        width: 400px;
    }

    .few-words{
        width: 80%;
        gap: 40px !important;
    }

    .few-words h1{
        font-size: 44px;
    }

    .few-words h3{
        font-size: 44px;
    }

    .few-words li{
        font-size: 21px;
    }

    .few-words p{
        font-size: 21px;
    }

    .tailored-interior{
        width: 80%;
    }

    .tailored-interior h3{
        font-size: 45px;
    }

    .tailored-interior img{
        width: 365px;
    }

    .customer-review{
        width: 80%;
    }

    .customer-review .customer-rcontent h2{
        font-size: 45px;
    }

    .customer-review .customer-rcontent p{
        font-size: 24px;
    }

    .ending-details{
      height: 40vh;
    }

    .ending-detailsContent{
        width: 97%;
        gap: 180px ;	
    }

    .ending-detailsContent h1{
        font-size: 53px;
    }

    .ending-detailsContent h4{
        font-size: 33px;
    }

    .ending-detailsContent p{
        font-size: 24px;
    }

    .ending-detailsContent .submit-button{
        width: 300px;
        height: 70px;
        font-size: 25px;
    }

    .ending-detailsContent input{
        width: 300px;
        font-size: 25px;
    }
}

/* desktop screens resolution 1440 x 900 */
@media screen and (width: 1440px) and (height: 900px) {
    .navbar li{
        font-size: 22px;
    }

    .beginning-imgs{
        width: 78%;
    }

    .beginning-imgs img{
        width: 350px !important;
    }

    .beginning-imgs .img1{
        height: 75vh;
    }

    .beginning-imgs .img3{
        width: 370px !important; 
    }

    .beginning-imgs .img4{
        bottom: 230px !important;
        left: 33.5% !important;
        width: 66% !important; 
    }

    .colour-shades{
        width: 78%;
        gap: 30px;
    }

    .colour-shades p{
        font-size: 17px;
    }

    .few-words{
        width: 78%;
        gap:34px;
    }

    .few-words li{
        font-size: 16px;
    }

    .few-words p{
        font-size: 15px;
    }

    .tailored-interior{
        width: 78%;
    }

    .tailored-interior img{
        width: 263px;
    }

    .ending-details{
        height: 44vh;
    }

    .ending-detailsContent{
        width: 95%;
        gap: 80px;
    } 

    .ending-detailsContent .submit-button{
        width: 300px;
    }

    .ending-detailsContent input{
        width: 300px;
    }
}  