.navbar h1{
    color: black;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar ul li:after{
    content: '';
    height: 3px;
    width: 0;
    background: #FFD700;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

.beginning-img img{
width: 100%;
height: 400px;
}

.quote-offer{
width: 70%;
margin: 0 auto;
margin-top: 130px;
}

.offer-content{
display: flex;
gap: 50px;
margin-top: 50px;
}

.offer-content div{
border: 1px solid #656765;
width: 330px;
height: 40vh;
padding: 60px 50px;
}

.offer-content p{
font-size: 30px;
}

.offer-content h5{
color: #DACDBC;
position: relative;
bottom: 15px;
font-family: 'Dancing Script', cursive;
}

.offer-content ul li{
color:#656765;
}

.offer-content div button{
border: none;
    letter-spacing: 1.5px;
    background: none;
    margin-top: 20px;
    color:#656765;
}

.offer-content div button:hover{
border: transparent;
    border: 1px solid #DACDBC;
    color:#DACDBC;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    text-align: center;
}

.offer-content div button span{
text-decoration: line-through;
}

.ending-details{
    height: 50vh;
    margin-top: 100px;
    background: #1A1A1A;
}

.ending-detailsContent{
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    padding: 70px;
}

.ending-detailsContent p{
    color: #656765;
}

.ending-detailsContent h4{
    color: #fff;
}

.ending-detailsContent input{
    border: none;
    border-bottom: 1px solid #656765;
    padding-bottom: 6px;
    background: transparent;
}

.ending-detailsContent .submit-button{
    margin-top: 10px;
    border: none;
    border: 1px solid #DACDBC;
    width: 200px;
    height: 50px;
    background: transparent;
    color: #DACDBC;
}

.ending-detailsContent .submit-button:hover{
border: none;
background: #DACDBC;
color:#fff;
transition: 0.3s ease-in-out;
}

.accordion{
    width: 100%;
   }

.accordion-item{
    background: none !important;
    border: none !important;
    color: #656765 !important;
}

.accordion-button{
    background: none !important;
    border: none !important;
    color: #656765 !important;
}

.accordion-button:focus{
    color: #fff !important;
}

/* desktop screens resolution 1366 x 768 */
@media screen and (width: 1366px) and (height: 768px) {
.quote-offer {
width: 85%;
}

.offer-content div{
width: 339px;
height: 50vh;
}

.ending-details{
height: 53vh;
}

.ending-detailsContent{
width: 95%;
gap: 80px;
}
}

/* desktop large screens  1280px x 1024px */
@media screen and (width: 1280px) and (height: 1024px) {
.quote-offer {
width: 85%;
}

.ending-details{
height: 43vh;
}

.ending-detailsContent{
width: 95%;
gap: 80px;
}
}

/* desktop screens resolution 1920 x 1080 */
@media screen and (width: 1920px) and (height: 1080px) {
.navbar li{
font-size: 25px;
}

.offer-content div{
width: 450px;
height: 45vh;
}

.offer-content h6{
font-size: 24px;
}

.offer-content p{
font-size: 45px;
}

.offer-content h5{
font-size: 24px;
}

.offer-content ul li{
font-size: 24px;
}

.quote-offer h3{
font-size: 43px;
}

.offer-content div button{
font-size: 24px;
}

.offer-content div button:hover{
height: 60px;
}

.ending-details{
      height: 40vh;
}

.ending-detailsContent{
width: 97%;
    gap: 180px ;	
}

.ending-detailsContent h1{
font-size: 53px;
}

.ending-detailsContent h4{
font-size: 33px;
}

.ending-detailsContent p{
font-size: 24px;
}

.ending-detailsContent .submit-button{
width: 300px;
height: 70px;
font-size: 25px;
}

.ending-detailsContent input{
width: 300px;
font-size: 25px;
}
}

/* desktop screens resolution 1440 x 900 */
@media screen and (width: 1440px) and (height: 900px) {
.navbar li{
font-size: 22px;
}

.quote-offer{
width: 77%;
}

.offer-content div{
height: 42vh;

}

.ending-details{
height: 44vh;
}

.ending-detailsContent{
width: 95%;
gap: 80px;
} 

.ending-detailsContent .submit-button{
width: 300px;
}

.ending-detailsContent input{
width: 300px;
}
}  